body {
  background-color: #57606f;
  font-family: 'Readex Pro', sans-serif;

}

h1, h2, h3, p {
  color: #dfe6e9;
}
h3 {
  margin: 20px;
}

.efreiLogo {
  width: 160px;
  height: auto;
}

.header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.centered {
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
  margin-top: 50px;
}






footer {
  background-color: #2f3542;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
}

a {
  color: white;
}

a:hover {
  color: lightgrey;
}
